@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(56, 56, 56);
}

.title {
  color: rgb(55, 88, 255);
}
